/AdminTxnBean.class
/AwardTemplateBean.class
/AwardTemplateCommentsBean.class
/AwardTemplateContactsBean.class
/AwdTemplateRepTermsBean.class
/TemplateBaseBean.class
/ValidFrequencyBean.class
/YNQBaseBean.class
/YNQBean.class
/YNQExplanationBean.class
/YNQTxnBean.class
