/ArraAwardBaseBean.class
/ArraAwardDetailsBean.class
/ArraAwardSubcontractBean.class
/ArraHighlyCompensatedBean.class
/ArraReportBean.class
/ArraReportJobBean.class
/ArraReportTxnBean.class
/ArraVendorBean.class
