/DepartmentArgListFormBean.class
/DepartmentBioPDFPersonFormBean.class
/DepartmentBioPersonFormBean.class
/DepartmentBioSourceFormBean.class
/DepartmentBudgetFormBean.class
/DepartmentCurrentReportBean.class
/DepartmentOthersFormBean.class
/DepartmentPendingReportBean.class
/DepartmentPerDegreeFormBean.class
/DepartmentPersonFormBean.class
/DepartmentPersonTrainingBean.class
/DepartmentPersonTxnBean.class
/DepartmentPersonUpdateTxnBean.class
/PersonCustomElementsInfoBean.class
