/AbsenteesInfoBean.class
/ActionAuthorizationTxnBean.class
/ActionTransaction.class
/AdhocDetailsBean.class
/AdhocReportTxnBean.class
/AgendaTxnBean.class
/AreaOfResearchTreeNodeBean.class
/AreaOfResearchTxnBean.class
/AttendanceInfoBean.class
/BatchCorrespondenceBean.class
/BatchCorrespondenceDetailsBean.class
/BatchCorrespondenceTxnBean.class
/CommitteeActiveMemberBean.class
/CommitteeMaintenanceFormBean.class
/CommitteeMemberExpertiseBean.class
/CommitteeMemberRolesBean.class
/CommitteeMemberStatusChangeBean.class
/CommitteeMembershipDetailsBean.class
/CommitteeResearchAreasBean.class
/CommitteeTxnBean.class
/CorrespInfoForActionBean.class
/CorrespondenceDetailsBean.class
/CorrespondenceTypeFormBean.class
/IrbWindowConstants.class
/LocationBean.class
/MemberRolesBean.class
/MembershipTxnBean.class
/MinuteEntryBean.class
/MinuteEntryInfoBean.class
/MinuteTxnBean.class
/OtherActionInfoBean.class
/PersonInfoFormBean.class
/PersonInfoTxnBean.class
/PersonResponsibleTrainingDetailBean.class
/ProtoCorrespRecipientsBean.class
/ProtoCorrespTypeTxnBean.class
/ProtocolActionChangesBean.class
/ProtocolActionDocumentBean.class
/ProtocolActionsBean.class
/ProtocolAlterDatabaseSearchBean.class
/ProtocolAlternativeSearchBean.class
/ProtocolAmendRenewalBean.class
/ProtocolAuthorizationBean.class
/ProtocolCorrespondentsBean.class
/ProtocolCustomElementsInfoBean.class
/ProtocolDataTxnBean$BeanComparator.class
/ProtocolDataTxnBean.class
/ProtocolDetailChangeFlags.class
/ProtocolExceptionBean.class
/ProtocolFundingSourceBean.class
/ProtocolHistoryBean.class
/ProtocolHistoryTxnBean.class
/ProtocolInfoBean.class
/ProtocolInvestigatorUnitsBean.class
/ProtocolInvestigatorsBean.class
/ProtocolKeyPersonnelBean.class
/ProtocolLinkBean.class
/ProtocolLocationListBean.class
/ProtocolModuleBean.class
/ProtocolNotepadBean.class
/ProtocolPersonsResponsibleBean.class
/ProtocolPrinciplesBean.class
/ProtocolReasearchAreasBean.class
/ProtocolReferencesBean.class
/ProtocolRelatedProjectsBean.class
/ProtocolReviewDeterminationBean.class
/ProtocolReviewTypeCheckListBean.class
/ProtocolReviewerInfoBean.class
/ProtocolRiskLevelBean.class
/ProtocolRoleInfoBean.class
/ProtocolRolesFormBean.class
/ProtocolSpecialReviewFormBean.class
/ProtocolSpeciesBean.class
/ProtocolStudyGroupBean.class
/ProtocolStudyGroupLocationBean.class
/ProtocolSubmissionInfoBean.class
/ProtocolSubmissionTxnBean.class
/ProtocolSubmissionUpdateTxnBean.class
/ProtocolSubmissionVoteFormBean.class
/ProtocolUpdateTxnBean.class
/ProtocolUserRoleInfoBean.class
/ProtocolVoteAbsFormBean.class
/ProtocolVulnerableSubListsBean.class
/ReviewAttachmentsBean.class
/ScheduleAttachmentBean.class
/ScheduleDetailsBean.class
/ScheduleFrequencyBean.class
/ScheduleMaintenanceTxnBean.class
/ScheduleMaintenanceUpdateTxnBean.class
/ScheduleTxnBean.class
/SubmissionDetailsBean.class
/SubmissionDetailsTxnBean.class
/SubmissionReviewTypeBean.class
/UploadDocumentBean.class
