/ActivityTitle.class
/Address.class
/AddressType.class
/AgencyName.class
/AgencyReceivedDate.class
/ApplicantEstimatedAmount.class
/ApplicantID.class
/ApplicantTypeCode.class
/ApplicantTypeCodeOtherExplanation.class
/ApplicationTypeCode.class
/Assurance.class
/AuthorizedRepresentative.class
/AuthorizedRepresentativeSignature.class
/AuthorizedRepresentativeType.class
/Budget.class
/BudgetType.class
/CFDANumber.class
/City.class
/CongressionalDistrict.class
/Contact.class
/ContactType.class
/Country.class
/County.class
/DUNSID.class
/DelinquentFederalDebtExplanation.class
/DelinquentFederalDebtIndicator.class
/DepartmentName.class
/DivisionName.class
/ElectronicMailAddress.class
/EmployerID.class
/FamilyName.class
/FaxNumber.class
/FederalEstimatedAmount.class
/FederalID.class
/GivenName1.class
/GivenName2.class
/GrantApplication.class
/GrantApplicationType.class
/Individual.class
/IndividualType.class
/LocalEstimatedAmount.class
/Location.class
/NamePrefix.class
/NameSuffix.class
/ObjectFactory.class
/ObjectVerifierFactory.class
/Organization.class
/OrganizationIdentifyingInformation.class
/OrganizationIdentifyingInformationType.class
/OrganizationName.class
/OrganizationType.class
/OtherEstimatedAmount.class
/ProgramIncomeEstimatedAmount.class
/Project.class
/ProjectTitle.class
/ProjectType.class
/ProposedEndDate.class
/ProposedStartDate.class
/RepresentativeTitle.class
/Revision.class
/RevisionCode1.class
/RevisionCode2.class
/RevisionOtherExplanation.class
/RevisionType.class
/SignedDate.class
/StateCode.class
/StateEstimatedAmount.class
/StateID.class
/StateReceivedDate.class
/StateReviewCode.class
/StateReviewDate.class
/Street.class
/SubmissionTypeCode.class
/SubmittedDate.class
/SubmittingOrganization.class
/SubmittingOrganizationType.class
/TelephoneNumber.class
/TotalEstimatedAmount.class
/ZipCode.class
