@charset "utf-8";
/* CSS Document */
#contentright div.collapsemenu1 ul {
	list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding: 0;
	float: left;
	width: 599px;
	font-size: 12px;
}

#contentright div.collapsemenu1 ul li {
	width: 599px;
	min-height: 1px;
	float: left;
	background-color: #80a5d7;
	margin-top: 2px;
}

#contentright div.collapsemenu1 ul ul {
	background-color: #9dbfe9;
}

#contentright div.collapsemenu1 ul li ul li {
	width: 530px;
	background: none;
	background-color: #9dbfe9;
	margin-top: 0px;
}

#contentright div.collapsemenu1 a.expanded {
	background: url(../images/expanded.png) no-repeat center left;
	text-decoration: none;
	background-color: #4376af;
}

#contentright div.collapsemenu1 a.collapsed {
	background: url(../images/collapsed.png) no-repeat center left;
	text-decoration: none;
}

#contentright div.collapsemenu1 ul li a {
	background: url(../images/collapsed.png) no-repeat center left;
	color: #fff;
	display: block;
	font-weight: normal;
	padding: 5px 2px 2px 32px;
	width: 565px;
	height: 18px;
	text-decoration: none;
	font-weight: bold;
}

#contentright div.collapsemenu1 ul li a:hover {
	background: url(../images/expanded.png) no-repeat center left;
	text-decoration: none;
	background-color: #4376af;
	color: #fff;
}

#contentright div.collapsemenu1 ul li a:active {
	color: #fff;
	text-decoration: none;
}