/ApplicantOrganizationName.class
/AssuranceType.class
/Assurances.class
/AuthorizedRepresentative.class
/AuthorizedRepresentativeType.class
/ObjectFactory.class
/ObjectVerifierFactory.class
/RepresentativeName.class
/RepresentativeTitle.class
/SubmittedDate.class
