<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- JM custom servlets -->
  <servlet>
    <servlet-name>CustomFunctionsServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.CustomFunctionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>CustomFunctionsServlet</servlet-name>
    <url-pattern>/CustomFunctionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AwardServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.AwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>AwardServlet</servlet-name>
    <url-pattern>/AwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AwardProposalServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.AwardProposalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>AwardProposalServlet</servlet-name>
    <url-pattern>/AwardProposalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AwardValidationServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.AwardValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>AwardValidationServlet</servlet-name>
    <url-pattern>/AwardValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoutingQueueServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.RoutingQueueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>RoutingQueueServlet</servlet-name>
    <url-pattern>/RoutingQueueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubcontractServlet</servlet-name>
    <servlet-class>edu.vanderbilt.coeus.servlet.SubcontractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>SubcontractServlet</servlet-name>
    <url-pattern>/SubcontractServlet</url-pattern>
  </servlet-mapping>
  <!-- JM END -->
  <servlet>
    <servlet-name>
         XMLGeneratorServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.XMLGeneratorServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         StreamingServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.StreamingServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ProposalXMLGeneratorServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProposalXMLGeneratorServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         CodeTableServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.CodeTableServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         protocolActionServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProtocolActionServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         userMaintenanceServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.UserMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         loginServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.LoginServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         protocolMntServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProtocolMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ScheduleServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ScheduleServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ScheduleMaintenanceServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ScheduleMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ProtocolSubmissionServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProtocolSubmissionServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         orgMntServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.OrganizationMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         orgMntUpdateServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.OrganizationMaintenanceUpdateServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         coeusFunctionsServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.CoeusFunctionsServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         rolMntServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.RolodexMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         spMntServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.SponsorMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Updated By Subramanya -->
  <servlet>
    <servlet-name>
         AreaOfResearchServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.AreaOfResearchServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
             AgendaServlet
          </servlet-name>
    <servlet-class>
             edu.mit.coeus.servlet.AgendaServlet
          </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
             MinuteServlet
          </servlet-name>
    <servlet-class>
             edu.mit.coeus.servlet.MinuteServlet
          </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ProposalMaintenanceServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProposalMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         ProposalActionServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.ProposalActionServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
    		AwardMaintenanceServlet
    	</servlet-name>
    <servlet-class>
    		edu.mit.coeus.servlet.AwardMaintenanceServlet
    	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardSubmissionServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.AwardSubmissionServlet</servlet-class>
  </servlet>
  

 
  <servlet>
    <servlet-name>
      		NegotiationMaintenanceServlet
      	</servlet-name>
    <servlet-class>
      		edu.mit.coeus.servlet.NegotiationMaintenanceServlet
      	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CorrespondenceServlet</servlet-name>
    <display-name>CorrespondenceServlet</display-name>
    <description>The Servlet which will be used to controll all the server request from Correspondence module</description>
    <servlet-class>edu.mit.coeus.servlet.CorrespondenceServlet</servlet-class>
  </servlet>
  <!-- Updated By Subramanya -->
<!--Added for case id COEUSQA-1724 iacuc protocol stream generation start -->
  <servlet>
    <servlet-name>IacucCorrespondenceServlet</servlet-name>
    <display-name>IacucCorrespondenceServlet</display-name>
    <description>The Servlet which will be used to controll all the server request from Iacuc Correspondence module</description>
    <servlet-class>edu.mit.coeus.servlet.IacucCorrespondenceServlet</servlet-class>
  </servlet>

  <!--Added for case id COEUSQA-1724 iacuc protocol stream generation end -->
  <servlet>
    <servlet-name>
         comMntServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.CommitteeMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
            memberServlet
           </servlet-name>
    <servlet-class>
                 edu.mit.coeus.servlet.MemberServlet
            </servlet-class>
  </servlet>
  <!--added by geo-->
  <servlet>
    <servlet-name>
         coeusSearchServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.CoeusSearchServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         coeusSearchResultServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.CoeusSearchResultServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         unitServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.UnitServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         unitHierarchyServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.UnitHierarchyServlet
      </servlet-class>
  </servlet>
  <!-- Added by sabari for Servelet from Prahalad -->
  <servlet>
    <servlet-name>
		SubmissionDetailsServlet
	</servlet-name>
    <servlet-class>
		edu.mit.coeus.servlet.SubmissionDetailsServlet
	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
          IacucProtocolActionServlet
      </servlet-name>
      <servlet-class>
          edu.mit.coeus.servlet.IacucProtocolActionServlet
      </servlet-class>
  </servlet>
  <servlet>
      <servlet-name>
          IacucProtoSubmissionDetailsServlet
      </servlet-name>
      <servlet-class>
          edu.mit.coeus.servlet.IacucProtoSubmissionDetailsServlet
      </servlet-class>
  </servlet>
  <servlet>
      <servlet-name>
          IacucProtocolSubmissionServlet
      </servlet-name>
      <servlet-class>
          edu.mit.coeus.servlet.IacucProtocolSubmissionServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
         personMaintenanceServlet
      </servlet-name>
    <servlet-class>
         edu.mit.coeus.servlet.PersonMaintenanceServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
		MailServlet
	</servlet-name>
    <servlet-class>
		edu.mit.coeus.servlet.MailServlet
	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
  		BudgetCalculationMaintenanceServlet
  	</servlet-name>
    <servlet-class>
  		edu.mit.coeus.servlet.BudgetCalculationMaintenanceServlet
  	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
    		BudgetMaintenanceServlet
    	</servlet-name>
    <servlet-class>
    		edu.mit.coeus.servlet.BudgetMaintenanceServlet
    	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
    		ProposalMiscellaniesServlet
    	</servlet-name>
    <servlet-class>
    		edu.mit.coeus.servlet.ProposalMiscellaniesServlet
    	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
    		InstituteProposalMaintenanceServlet
    	</servlet-name>
    <servlet-class>
    		edu.mit.coeus.servlet.InstituteProposalMaintenanceServlet
    	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
    		AuthorizationServlet
    	</servlet-name>
    <servlet-class>
    		edu.mit.coeus.servlet.AuthorizationServlet
    	</servlet-class>
  </servlet>
  <!--Rules Start -->
  <servlet>
    <servlet-name>RuleMaintenanceServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.RuleMaintenanceServlet</servlet-class>
  </servlet>
  <!--Rules End -->
  <!--Maps Start -->
  <servlet>
    <servlet-name>MapMaintainanceServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.MapMaintainanceServlet</servlet-class>
  </servlet>
  <!--Maps End -->
  <!-- Added by Shivakumar M J -->
  <servlet>
    <servlet-name>
      		AwardReportReqMaintenanceServlet
      	</servlet-name>
    <servlet-class>
      		edu.mit.coeus.servlet.AwardReportReqMaintenanceServlet
      	</servlet-class>
  </servlet>
  <!-- Added by Shivakumar M J -->
  <servlet>
    <servlet-name>LockingServlet</servlet-name>
    <servlet-class>
        		edu.mit.coeus.servlet.LockingServlet
        	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMaintenanceServlet</servlet-name>
    <servlet-class>
        		edu.mit.coeus.servlet.AdminMaintenanceServlet
        	</servlet-class>
  </servlet>
  <!-- Added by Shivakumar M J -->
  <servlet>
    <servlet-name>
          		RatesMaintenanceServlet
          	</servlet-name>
    <servlet-class>
          		edu.mit.coeus.servlet.RatesMaintenanceServlet
          	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
            		UtilityServlet
            	</servlet-name>
    <servlet-class>
            		edu.mit.coeus.servlet.UtilityServlet
            	</servlet-class>
  </servlet>
  <!--end block-->
  <servlet>
    <servlet-name>
            		PrintServlet
            	</servlet-name>
    <servlet-class>
            		edu.mit.coeus.servlet.PrintServlet
            	</servlet-class>
  </servlet>
  <!-- for S2S -->
  <servlet>
    <servlet-name>S2SServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.S2SServlet</servlet-class>
  </servlet>
  <!-- End block -->
  <servlet>
    <servlet-name>
                SubcontractMaintenenceServlet
        </servlet-name>
    <servlet-class>
                edu.mit.coeus.servlet.SubcontractMaintenenceServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CentralAdminMaintenanceServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.CentralAdminMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AwardTemplateMaintenanceServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.AwardTemplateMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonMassChangeServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.PersonMassChangeServlet</servlet-class>
  </servlet>
  <!--Award Budget start -->
  <servlet>
    <servlet-name>AwardBudgetMaintainanceServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.AwardBudgetMaintainanceServlet</servlet-class>
  </servlet>
  <!--Award Budget End -->
  <!-- Proposal Hierarchy start-->
  <servlet>
    <servlet-name>ProposalHierarchyServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.ProposalHierarchyServlet</servlet-class>
  </servlet>
  <!-- Proposal Hierarchy End-->
  <servlet>
    <servlet-name>ReportConfigServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.ReportConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetSubAwardServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.BudgetSubAwardServlet</servlet-class>
  </servlet>
  <!-- Questionnaire  start-->
  <servlet>
    <servlet-name>QuestionnaireServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.QuestionnaireMaintenanceServlet</servlet-class>
  </servlet>
  <!-- Questionnaire end -->
  <!--For authentication refactoring-->
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <!-- Code added for Case# 2785 - Routing Enhancement   -->
  <servlet>
    <servlet-name>RoutingServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.RoutingServlet</servlet-class>
  </servlet>  
<!-- UMDNJ-specific Servlets -->
  <servlet>
    <servlet-name>ReportingServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.ReportingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GraphingServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GraphingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SQLOutputVerificationServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.SQLOutputVerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsByDeptServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsByDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSubmittedProposalsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetSubmittedProposalsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPendingProposalsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetPendingProposalsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSummaryGrantsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetSummaryGrantsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCloseReportServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetCloseReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsBySponsorServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsBySponsorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsByActivityTypeServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsByActivityTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsByAwardTypeServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsByAwardTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportingMaintenanceServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.ReportingMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsByPIServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsByPIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGrantsByPIGraphServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetGrantsByPIGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSpecReviewProposalsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetSpecReviewProposalsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSummaryPIGrantsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetSummaryPIGrantsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSummaryAllPIGrantsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetSummaryAllPIGrantsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCurrentActiveGrantsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetCurrentActiveGrantsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCurrentSpecReviewGrantsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetCurrentSpecReviewGrantsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPendingStatusReportServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetPendingStatusReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAnnualReportsServlet</servlet-name>
    <servlet-class>edu.umdnj.coeus.servlet.GetAnnualReportsServlet</servlet-class>
  </servlet>
  <!-- end UMDNJ Servlets -->
    <servlet>
        <servlet-name>BirtServlet</servlet-name>
        <servlet-class>edu.mit.coeus.servlet.BirtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IacucProtocolServlet</servlet-name>
        <servlet-class>edu.mit.coeus.servlet.IacucProtocolMaintenanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <!-- end -->
  <servlet-mapping>
    <servlet-name>StartupServlet</servlet-name>
    <url-pattern>/StartupServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>
            IacucProtocolSubmissionServlet
        </servlet-name>
    <url-pattern>
            /iacucProtocolSubSrvlt
        </url-pattern>
  </servlet-mapping>
  <!-- CASE #748 Begin -->
  <!--For scheduler service maintenance-->
  <servlet>
    <servlet-name>SchedulerServiceMaintServlet</servlet-name>
    <servlet-class>edu.mit.coeus.servlet.SchedulerServiceMaintServlet</servlet-class>
  </servlet>
  <!-- Person Roles for email notification - start -->
  <servlet>
      <servlet-name>PersonRoleMaintenanceServlet</servlet-name>
      <servlet-class>edu.mit.coeus.servlet.PersonRoleMaintenanceServlet</servlet-class>
  </servlet>
  <!-- PersonRole - End -->
  <servlet-mapping>
    <servlet-name>SchedulerServiceMaintServlet</servlet-name>
    <url-pattern>/SchedulerServiceMaintServlet</url-pattern>
  </servlet-mapping>
  <!-- end -->
  <!--For personalization rdias UCSD-->
  <servlet>
    <servlet-name>PersonalizationServlet</servlet-name>
    <servlet-class>edu.ucsd.coeus.servlet.PersonalizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalizationServlet</servlet-name>
    <url-pattern>/PersonalizationServlet</url-pattern>
  </servlet-mapping>
  <!-- end -->  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>CoeusMessages</param-value>
    </init-param>
    <!--COEUSLITE START :1 -->
    <!-- <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param> 
    
    
    -->
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,
                   /WEB-INF/struts-config-irb.xml,
                   /WEB-INF/struts-config-coi.xml,
                   /WEB-INF/struts-config-budget.xml,
                   /WEB-INF/struts-config-proposal.xml,
                   /WEB-INF/struts-config-coi-dartmouth.xml,
                   /WEB-INF/struts-config-subcontract.xml,
                   /WEB-INF/struts-config-arra.xml,
                   /WEB-INF/struts-config-negotiation.xml,
                   /WEB-INF/struts-config-coiv2.xml,
                   /WEB-INF/struts-config-iacuc.xml,
                   /WEB-INF/struts-config-award.xml,
                   /WEB-INF/struts-config-raft-budget.xml
     </param-value>
    </init-param>
    <!--COEUSLITE END :1 -->
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- CASE #748 End -->
  <!-- for S2S -->
  <servlet-mapping>
    <servlet-name>
            StreamingServlet
        </servlet-name>
    <url-pattern>
            /StreamingServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S2SServlet</servlet-name>
    <url-pattern>/S2SServlet</url-pattern>
  </servlet-mapping>
  <!-- End block -->
  <servlet-mapping>
    <servlet-name>CentralAdminMaintenanceServlet</servlet-name>
    <url-pattern>/CentralAdminMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardTemplateMaintenanceServlet</servlet-name>
    <url-pattern>/AwardTemplateMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubcontractMaintenenceServlet</servlet-name>
    <url-pattern>/SubcontractMaintenenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            XMLGeneratorServlet
        </servlet-name>
    <url-pattern>
            /XMLGeneratorServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            ProposalXMLGeneratorServlet
        </servlet-name>
    <url-pattern>
            /ProposalXMLGeneratorServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            userMaintenanceServlet
        </servlet-name>
    <url-pattern>
            /userMaintenanceServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            CodeTableServlet
        </servlet-name>
    <url-pattern>
            /CodeTableServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            protocolActionServlet
        </servlet-name>
    <url-pattern>
            /protocolActionServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            loginServlet
        </servlet-name>
    <url-pattern>
            /loginServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            ScheduleServlet
        </servlet-name>
    <url-pattern>
            /ScheduleServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            ScheduleMaintenanceServlet
        </servlet-name>
    <url-pattern>
            /scheduleMaintSrvlt
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            ProtocolSubmissionServlet
        </servlet-name>
    <url-pattern>
            /protocolSubSrvlt
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            spMntServlet
        </servlet-name>
    <url-pattern>
            /spMntServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            orgMntServlet
        </servlet-name>
    <url-pattern>
            /orgMntServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            orgMntUpdateServlet
        </servlet-name>
    <url-pattern>
            /orgMntUpdateServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            coeusFunctionsServlet
        </servlet-name>
    <url-pattern>
            /coeusFunctionsServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            rolMntServlet
        </servlet-name>
    <url-pattern>
            /rolMntServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
              ProposalMaintenanceServlet
          </servlet-name>
    <url-pattern>
              /ProposalMaintenanceServlet
          </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
              ProposalActionServlet
          </servlet-name>
    <url-pattern>
              /ProposalActionServlet
          </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardMaintenanceServlet</servlet-name>
    <url-pattern>/AwardMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AwardSubmissionServlet</servlet-name>
    <url-pattern>/AwardSubmissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NegotiationMaintenanceServlet</servlet-name>
    <url-pattern>/NegotiationMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            personMaintenanceServlet
        </servlet-name>
    <url-pattern>
            /personMaintenanceServlet
        </url-pattern>
  </servlet-mapping>
  <!-- Updated By Subramanya -->
  <servlet-mapping>
    <servlet-name>
            AreaOfResearchServlet
        </servlet-name>
    <url-pattern>
            /AreaOfResearchServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
              AgendaServlet
          </servlet-name>
    <url-pattern>
              /AgendaServlet
          </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
              MinuteServlet
          </servlet-name>
    <url-pattern>
              /MinuteServlet
          </url-pattern>
  </servlet-mapping>
  <!-- Updated By Subramanya -->
  <servlet-mapping>
    <servlet-name>
            comMntServlet
        </servlet-name>
    <url-pattern>
            /comMntServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
                    memberServlet
                </servlet-name>
    <url-pattern>
                    /MemberServlet
                </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
                protocolMntServlet
            </servlet-name>
    <url-pattern>
                /protocolMntServlet
            </url-pattern>
  </servlet-mapping>
  <!--
    Added by Geo
-->
  <servlet-mapping>
    <servlet-name>
            coeusSearchServlet
        </servlet-name>
    <url-pattern>
            /coeusSearchServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            coeusSearchResultServlet
        </servlet-name>
    <url-pattern>
            /coeusSearchResultServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            unitServlet
        </servlet-name>
    <url-pattern>
            /unitServlet
        </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
            unitHierarchyServlet
        </servlet-name>
    <url-pattern>
            /unitHierarchyServlet
        </url-pattern>
  </servlet-mapping>
  <!-- Added by Sabari for servlet from Prahald -->
  <servlet-mapping>
    <servlet-name>
		SubmissionDetailsServlet
	</servlet-name>
    <url-pattern>
        /SubmissionDetailsServlet
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
	  IacucProtocolActionServlet
    </servlet-name>
    <url-pattern>
        /IacucProtocolActionServlet
    </url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>
	  IacucProtoSubmissionDetailsServlet
    </servlet-name>
    <url-pattern>
        /IacucProtoSubmissionDetailsServlet
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
		MailServlet
	</servlet-name>
    <url-pattern>
		/MailServlet
	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CorrespondenceServlet</servlet-name>
    <url-pattern>/correspondenceServlet</url-pattern>
  </servlet-mapping>
  <!--Added for case id COEUSQA-1724 iacuc protocol stream generation start -->
  <servlet-mapping>
    <servlet-name>IacucCorrespondenceServlet</servlet-name>
    <url-pattern>/iacucCorrespondenceServlet</url-pattern>
  </servlet-mapping>
  <!--Added for case id COEUSQA-1724 iacuc protocol stream generation end -->
  <servlet-mapping>
    <servlet-name>BudgetMaintenanceServlet</servlet-name>
    <url-pattern>/BudgetMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetCalculationMaintenanceServlet</servlet-name>
    <url-pattern>/BudgetCalculationMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalMiscellaniesServlet</servlet-name>
    <url-pattern>/ProposalMiscellaniesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstituteProposalMaintenanceServlet</servlet-name>
    <url-pattern>/InstituteProposalMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/AuthorizationServlet</url-pattern>
  </servlet-mapping>
  <!-- Added by Shivakumar M J -->
  <servlet-mapping>
    <servlet-name>AwardReportReqMaintenanceServlet</servlet-name>
    <url-pattern>/AwardReportReqMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <!-- Added by Shivakumar M J -->
  <servlet-mapping>
    <servlet-name>LockingServlet</servlet-name>
    <url-pattern>/LockingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMaintenanceServlet</servlet-name>
    <url-pattern>/AdminMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <!-- Added by Shivakumar M J -->
  <servlet-mapping>
    <servlet-name>RatesMaintenanceServlet</servlet-name>
    <url-pattern>/RatesMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/UtilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/printServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonMassChangeServlet</servlet-name>
    <url-pattern>/PersonMassChangeServlet</url-pattern>
  </servlet-mapping>
  <!-- Award Budget servlet mapping start-->
  <servlet-mapping>
    <servlet-name>AwardBudgetMaintainanceServlet</servlet-name>
    <url-pattern>/AwardBudgetMaintainanceServlet</url-pattern>
  </servlet-mapping>
  <!-- Award Budget servlet mapping End-->
  <!-- Proposal Hierarchy servlet mapping start-->
  <servlet-mapping>
    <servlet-name>ProposalHierarchyServlet</servlet-name>
    <url-pattern>/ProposalHierarchyServlet</url-pattern>
  </servlet-mapping>
  <!-- Proposal Hierarchy servlet mapping End-->
  <!-- Rules servlet mapping start-->
  <servlet-mapping>
    <servlet-name>RuleMaintenanceServlet</servlet-name>
    <url-pattern>/RuleMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <!-- Rules servlet mapping End-->
  <!-- Maps servlet mapping start-->
  <servlet-mapping>
    <servlet-name>MapMaintainanceServlet</servlet-name>
    <url-pattern>/MapMaintainanceServlet</url-pattern>
  </servlet-mapping>
  <!-- Maps servlet mapping End-->
  <servlet-mapping>
    <servlet-name>ReportConfigServlet</servlet-name>
    <url-pattern>/ReportConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetSubAwardServlet</servlet-name>
    <url-pattern>/BudgetSubAwardServlet</url-pattern>
  </servlet-mapping>
  <!-- Questionnaire mapping start -->
  <servlet-mapping>
    <servlet-name>QuestionnaireServlet</servlet-name>
    <url-pattern>/questionnaireServlet</url-pattern>
  </servlet-mapping>
  <!-- Questionnaire mapping end -->
<!-- Person Roles for email notification - start -->
  <servlet-mapping>
      <servlet-name>PersonRoleMaintenanceServlet</servlet-name>
      <url-pattern>/personRoleServlet</url-pattern>
  </servlet-mapping>
  <!-- PersonRole - End -->
  <!-- Code added for Case# 2785 - Routing Enhancement   -->
   <servlet-mapping>
      <servlet-name>RoutingServlet</servlet-name>
      <url-pattern>/RoutingServlet</url-pattern>
  </servlet-mapping>
  <!--
    end block
-->

<!-- UMDNJ-specific Servlet mappings -->
  <servlet-mapping>
      <servlet-name>ReportingServlet</servlet-name>
      <url-pattern>/ReportingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GraphingServlet</servlet-name>
      <url-pattern>/GraphingServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>SQLOutputVerificationServlet</servlet-name>
      <url-pattern>/SQLOutputVerificationServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsByDeptServlet</servlet-name>
      <url-pattern>/GetGrantsByDeptServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetSubmittedProposalsServlet</servlet-name>
      <url-pattern>/GetSubmittedProposalsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetPendingProposalsServlet</servlet-name>
      <url-pattern>/GetPendingProposalsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetSummaryGrantsServlet</servlet-name>
      <url-pattern>/GetSummaryGrantsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetCloseReportServlet</servlet-name>
      <url-pattern>/GetCloseReportServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsBySponsorServlet</servlet-name>
      <url-pattern>/GetGrantsBySponsorServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsByActivityTypeServlet</servlet-name>
      <url-pattern>/GetGrantsByActivityTypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsByAwardTypeServlet</servlet-name>
      <url-pattern>/GetGrantsByAwardTypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsByPIServlet</servlet-name>
      <url-pattern>/GetGrantsByPIServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>ReportingMaintenanceServlet</servlet-name>
      <url-pattern>/ReportingMaintenanceServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetGrantsByPIGraphServlet</servlet-name>
      <url-pattern>/GetGrantsByPIGraphServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetSpecReviewProposalsServlet</servlet-name>
      <url-pattern>/GetSpecReviewProposalsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetSummaryPIGrantsServlet</servlet-name>
      <url-pattern>/GetSummaryPIGrantsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetSummaryAllPIGrantsServlet</servlet-name>
      <url-pattern>/GetSummaryAllPIGrantsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetCurrentActiveGrantsServlet</servlet-name>
      <url-pattern>/GetCurrentActiveGrantsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetCurrentSpecReviewGrantsServlet</servlet-name>
      <url-pattern>/GetCurrentSpecReviewGrantsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetPendingStatusReportServlet</servlet-name>
      <url-pattern>/GetPendingStatusReportServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>GetAnnualReportsServlet</servlet-name>
      <url-pattern>/GetAnnualReportsServlet</url-pattern>
  </servlet-mapping>

  <!-- end - UMDNJ Servlet Mapping -->

  <!-- CASE #748 Comment Begin -->
  <!--
  <welcome-file-list>
    <welcome-file>CoeusApplet.htm</welcome-file>
  </welcome-file-list>
-->
  <!-- CASE #748 Comment End -->
  <!-- CASE #748 Begin -->
  <welcome-file-list>
    <welcome-file>/coeuslite/mit/utils/cwCoeusIndex.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/WEB-INF/coeus-utils.tld</taglib-uri>
    <taglib-location>/WEB-INF/coeus-tlds/utilities.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/datetime.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/datetime.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/privilege.tld</taglib-uri>
    <taglib-location>/WEB-INF/coeus-tlds/privilege.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/request.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/request.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/response.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/response.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/session.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/session.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-logic.tld</taglib-location>
  </taglib>
  <!--  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-template.tld</taglib-location>
  </taglib>
-->
  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-tiles.tld</taglib-location>
  </taglib>
  <!-- COEUSLITE START :3-->
  <taglib>
    <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib-tlds/struts-tiles.tld</taglib-location>
  </taglib>
  <!--COEUSLITE END :3 -->
  <!--
  Commnetd by Geo to remove the depndencey on struts tld jar file names. 
  App server will load all jar files from WEB-INF/lib folder
  -->
  <!--
  <taglib>
    <taglib-uri>/datetime</taglib-uri>
    <taglib-location>/WEB-INF/lib/datetime.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/request</taglib-uri>
    <taglib-location>/WEB-INF/lib/request.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/response</taglib-uri>
    <taglib-location>/WEB-INF/lib/response.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/session</taglib-uri>
    <taglib-location>/WEB-INF/lib/session.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/string</taglib-uri>
    <taglib-location>/WEB-INF/lib/string.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/struts</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
  </taglib>-->
  <!-- CASE #748 End -->
  <!--<resource-ref>
  <description>
      Coeus Data Source
  </description>
  <res-ref-name>
      jdbc/coeus
  </res-ref-name>
  <res-type>
      javax.sql.DataSource
  </res-type>
  <res-auth>
      Container
  </res-auth>
</resource-ref>
-->
  <!-- COEUSLITE START 2 -->
  <listener>
    <listener-class>
    edu.mit.coeuslite.utils.SessionListener
    </listener-class>
  </listener>
    <servlet-mapping>
        <servlet-name>BirtServlet</servlet-name>
        <url-pattern>/BirtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IacucProtocolServlet</servlet-name>
        <url-pattern>/IacucProtocolServlet</url-pattern>
    </servlet-mapping>
    <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <!-- Filters for Coeuslite -->
  <filter>
    <filter-name>CoeusFilter</filter-name>
    <filter-class>edu.mit.coeuslite.utils.CoeusMonitorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CoeusFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!-- COEUSLITE END 2 -->
  <!-- added for axis web service -->
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAPMonitorService</display-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>
  <!-- uncomment this if you want the admin servlet -->
  <!--<servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>-->
  <!-- currently the W3C havent settled on a media type for WSDL;
    http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
    for now we go with the basic 'it's XML' response -->
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <security-constraint>
    <display-name>SecurityConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>Web service collection</web-resource-name>
      <url-pattern>/services/UtilityService</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- End axis block -->
</web-app>
