/ApplicationFilter.class
/Attachment.class
/CompetitionInfo.class
/ErrorDetails.class
/FilterType.class
/InstructionFileInfo.class
/ObjectFactory.class
/SecurityMessage.class
/Token.class
/package-info.class
